<header class="header-sticky">
    <nav>
        <ul>
            <li><a href="/" class="nav-logo"><img src="./../../images/gift.png"/> &nbsp; Products</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/cart/3">Cart</a></li>
        </ul>
    </nav>
</header>